#about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/img/undraw_Through_the_desert_re_1q2x.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 50%;
  background-size: 40%;

  h2 {
    font-size: 40px;
    font-weight: 500;
    padding-top: 6%;
    text-align: center;
    color: $navbar-links;
  }

  p {
    padding-top: 5%;
    margin-left: 5%;
    text-align:justify;
    line-height: 30px;
    width: 50%;
  }

  img {
    width: 20%;
    margin-top: 15%;
    margin-left: 40%;
  }

  
}
