.home {
  width: 100%;
  height: 90vh;
  margin-left: 8%;
  overflow-y: hidden;
}

.home_container {
  width: 40%;
  margin-top: 13%;
  float: left;
  h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 80px;
    color: $title-color;
  }

  p {
    padding-top: 10px;
    line-height: 30px;
    color: $subtitle-color;
    font-size: 20px;
  }
}

.home__button__wrapper {
  padding-top: 30px;

  button {
    @include button;
    background-color: $bg-button;
  }

  p {
    padding-left: 40px;
    color: $address-color;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
  }

}

@media (min-width: $breakpoint-web) {
  .home {
    margin-left: 8%;
    overflow-y: hidden;

    #mini__grafo {
      display: none;
    }

    .grafo_container{
        width: 55%;
        margin-bottom: 90px;
        margin-top: 15px;
        padding: 0;
        float:right;
        
    }
    #grafo{
        z-index: -1;
    }
    
  }

  .home__button__wrapper {
    button {
        @include button;
        width: 320px;
        height: 70px;
        font-size: 25px;
        margin-top: 10%;
      }
  }

  
}

@media (min-width: $breakpoint-tablet) {
  .home_container {
    width: 50%;
    h1 {
      font-weight: bold;
      font-size: 30px;
      color: $title-color;
      margin: 0 0 -15px 24px;
    }

    p {
      padding-top: 10px;
      line-height: 30px;
      color: $subtitle-color;
      font-size: 14px;
      margin-left: 24px;
      text-align: justify;
    }
  }

  .grafo__container {
    display: flex;
  }

  #mini__grafo {
    display: none;
  }

  .home__button__wrapper {
    button {
      width: 110px ;
      height: 20px;
      font-size: 15px;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-weight: bold;
      font-size: 24px;
      color: $title-color;
      margin: 0 0 -15px 0;
    }

    p {
      line-height: 30px;
      color: $subtitle-color;
      font-size: 15px;
      margin: -10px 20px 0 20px;
    }

    #mini__grafo {
      margin-top: -20px;
    }
  }

  .grafo__container {
    display: none;
  }

  .home__button__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    button {
      width: 120px;
      height: 40px;
      font-size: 15px;
    }
  }
}
