* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

.home {
  width: 100%;
  height: 90vh; }
  @media (min-width: 1312px) {
    .home {
      margin-left: 8%;
      overflow-y: hidden; } }

.home_container {
  width: 40%;
  margin-top: 13%;
  float: left; }
  .home_container h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 80px;
    color: #292d34; }
  .home_container p {
    padding-top: 10px;
    line-height: 30px;
    color: #7c828d;
    font-size: 20px; }
  @media (max-width: 400px) {
    .home_container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .home_container h1 {
        font-weight: bold;
        font-size: 30px;
        color: #292d34;
        margin-top: 42px; }
      .home_container p {
        padding-top: 10px;
        line-height: 30px;
        color: #7c828d;
        font-size: 20px;
        margin-top: 32px; } }

@media (min-width: 992px) {
  .grafo__container {
    width: 55%;
    margin-bottom: 90px;
    margin-top: 15px;
    padding: 0;
    float: right; }
    .grafo__container #grafo {
      z-index: -1; }

  .mini__logo {
    display: none; } }
@media (max-width: 400px) {
  .grafo__container {
    display: none; }

  .mini__logo {
    position: absolute;
    top: 0; } }
.home__button__wrapper {
  display: flex;
  align-items: center;
  padding-top: 30px; }
  .home__button__wrapper p {
    padding-left: 40px;
    color: #a89f9f;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase; }
  .home__button__wrapper button {
    background-color: #e55812;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    width: 270px;
    height: 70px;
    font-size: 25px; }
  @media (max-width: 400px) {
    .home__button__wrapper button {
      width: 150px;
      height: 60px;
      font-size: 20x  px; } }

.navbar {
  width: 100%;
  height: 85px;
  background-color: #fafafa;
  position: fixed;
  top: 0;
  transition: top 0.3s;
  z-index: 2; }
  .navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding-left: 80px;
    padding-right: 60px; }
    .navbar ul a {
      color: #0e4749;
      font-weight: 500;
      padding-top: 10px; }

.navbar__box {
  display: flex;
  margin-top: 15px;
  padding-left: 3%;
  width: 100%; }
  .navbar__box img {
    width: 7%; }

.navbar__box__links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center; }
  .navbar__box__links img {
    width: 40px; }

#about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/img/undraw_Through_the_desert_re_1q2x.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 50%;
  background-size: 40%; }
  #about h2 {
    font-size: 40px;
    font-weight: 500;
    padding-top: 6%;
    text-align: center;
    color: #0e4749; }
  #about p {
    padding-top: 5%;
    margin-left: 5%;
    text-align: justify;
    line-height: 30px;
    width: 50%; }
  #about img {
    width: 20%;
    margin-top: 15%;
    margin-left: 40%; }

#trails {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/img/trilhas.bg.svg");
  background-repeat: no-repeat;
  background-position-y: 90px;
  background-position-x: 50%; }
  #trails h2 {
    padding-top: 6%;
    font-size: 40px;
    font-weight: normal; }

.trails__card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 65vw; }

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../assets/img/notFound__bg.svg");
  background-repeat: no-repeat;
  background-position-y: 80%; }
  .notFound img {
    width: 30%; }
  .notFound p {
    padding-top: 2%;
    font-size: 30px;
    color: #0e4749;
    font-weight: bold;
    text-align: center; }

.trails__card {
  width: 320px;
  height: 130px;
  background-color: #ffff;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.3));
  display: flex;
  border-radius: 24px;
  margin: 5px; }
  .trails__card #border__color {
    width: 7%;
    height: 130px; }
  .trails__card .card__text__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .trails__card .card__text__wrapper p {
      text-align: center;
      font-size: 13px; }
    .trails__card .card__text__wrapper h3 {
      font-weight: normal; }

#point {
  position: relative;
  left: 50%; }

/*# sourceMappingURL=Styles.css.map */
