#trails {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trails__title{
    padding-top: 10%;
    font-size: 40px;

}
.trails__subtitle {
    padding-top: 20px;
}

.trails__card__wrapper {
    margin-top: 5%;
}
.trails__card {
    width: 250px;
    height: 250px;
    background-color: $bg-cards;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#icon__card {
    width: 30%;
}

.trails__card button{
    @include button;
    width: 100px;
    height: 40px;
}