.cardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    width: 320px;
    height: 130px;
    background-color: #ffff;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.3));
    display: flex;
    border-radius: 24px;
    margin: 5px;
}

.card:hover {
    transform: scale(1.02)
}

#borderColor {
    width: 7%;
    height: 130px;
    border-radius: 24px 0 0 24px;
}
.textWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

p.textWrapper {
    text-align: center;
    font-size: 13px;
}

h3.textWrapper {
    font-weight: normal;
}

#MapsPoint {
    width: 30px;
}

@media (max-width: 425px) {

    .card {
        width: 300px; 
    }

    #point {
        position: relative;
        left: 45%;
    }
}