.card {
    width: 420px;
    height: 180px;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.3));
    border-radius: 0 15px 15px 0;
    justify-content: space-around;
}

.contentWrapper {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contentWrapper h2 {
    font-size: 16px;
    color: #0E4749;
    font-weight: bold;
}

.contentWrapper p {
    color: #2A2A2A;
    text-align: center;
    width: 70%;
    font-size: 12px;
}

.iconWrapper {
    width: 320px;
    height: 180px;
    background-color: #0E4749;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 90px;
    height: 124px;
    color: white;
}

@media (max-width:1025px) {
    .card {
        width: 340px;
        height: 140px;
        border-radius: 10px;
    }

    .icon {
        width: 80px;
    }
    .iconWrapper {
        width: 320px;
        height: 140px;
        border-radius: 10px;
    }

    
}
@media (max-width:801px) {
    .card {
        width: 300px;
        height: 140px;
        border-radius: 10px;
    }

    .icon {
        width: 80px;
    }
    .iconWrapper {
        width: 300px;
        height: 140px;
        border-radius: 10px;
    }

}

@media (max-width:600px) {
    .card {
        width: 90px;
        height: 80px;
        border-radius: 10px;
    }

    .icon {
        width: 60px;
    }
    .iconWrapper {
        width: 140px;
        height: 80px;
        border-radius: 10px;
    }
}

@media (max-width:600px) {
    .card {
        width: 160px;
        height: 120px;
        border-radius: 10px;
    }

    .icon {
        width: 80px;
    }
    .iconWrapper {
        width: 160px;
        height: 120px;
        border-radius: 10px;
    }
}


@media only screen and (max-width: 320px) {
    .card {
        width: 120px;
        height: 80px;
        border-radius: 10px;
    }

    .icon {
        width: 60px;
    }
    .iconWrapper {
        width: 120px;
        height: 80px;
        border-radius: 10px;
    }
}