.card {
    width: 340px;
    height: 128px;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.3));
    border-radius: 0 15px 15px 0;
    justify-content: space-around;
}

.contentWrapper {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contentWrapper h2 {
    font-size: 16px;
    color: #0E4749;
    font-weight: bold;
}

.contentWrapper p {
    color: #2A2A2A;
    text-align: center;
    width: 70%;
    font-size: 12px;
}

.iconWrapper {
    width: 300px;
    height: 128px;
    background-color: #0E4749;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 90px;
    height: 124px;
    color: white;
}