#trails {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-image: url('../../assets/img/trilhasBg.svg');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 40%;
}

.title {
    margin-top: 1%;
    font-weight: 400;
    font-size: 32px;
}

.subtitle {
    font-weight: 200;
}

.cardsWrapper { 
    width: 70%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 1024px) {
    #trails {
        background-size: 70%;
    }
}

@media (max-width: 768px) {
    #trails {
        background-size: 90%;
    }
}

@media (max-width: 425px) {
    #trails {
        background-image: url('../../assets/img/bg-home-trilhas-mb.svg');
        background-size: 50%;
        background-position-y: 80%;
    }
}

