.home {
    width: 100%;
    height: 100vh;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

@media (min-width: 1024px) {
    .container {
        width: 50%;
        margin-left: 50px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        margin-top: -8%;
        font-weight: bold;
        font-size: 40px;
    }

    .subtitle {
        margin-top: 6%;
        font-size: 18px;
        font-weight: 500;
    }
    .mobileGraphWrapper {
        display: none;
    }

    #button {
        margin-top: 12%;
        width: 140px;
        height: 50px;
        background-color: #E55812;
        border: none;
        border-radius: 4px;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    #button:hover {
        transform: scale(1.02)
    }
}
  
@media (min-width: 768px) {
    .container {
        width: 50%;
        margin-top: 200px;
        margin-left: 40px;
        text-align: justify;
    }
    .mobileGraphWrapper {
        display: none;
    }

}
  
@media (max-width: 425px) {
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        }

    .container {
        width: 80%;
        margin-top: 120px;
        text-align: center;
    }
    .container p {
        text-align: justify;
        margin-top: 6%;
    }
    .webGraphWrapper {
        display: none;
    }
    #button {
        display: none;
    }
}
