.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/img/notFound__bg.svg');
    background-repeat: no-repeat;
    background-position-y: 80%;
 

}

.notFound img {
    width: 30%;
    
}

.notFound p {
   padding-top: 2%;
   font-size: 30px;
   color: #0E4749; 
   font-weight: bold;
   text-align: center;
}