.aboutUs {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.firstStepAboutUS {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    gap: 80px;

}

.firstStepContentWrapper {
    width: 60%;
}

.firstStepContentWrapper h2{
    font-size: 32px;
    color: #418671;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 4%;
}

.firstStepContentWrapper p, .secondStepContentWrapper p {
    font-size: 18px;
    color: #292D34;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.firstStepContentWrapper p:last-child {
    margin-top: 4%;
}

.firstStepGraphWrapper {
    width: 488px;
    height: 375px;
    background-image: url('../../assets/img/graph.svg');
    background-size:contain;
    background-repeat: no-repeat;

}

.secondStepAboutUs {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;

}
.secondStepContentWrapper h2 {
    font-size: 32px;
    color: #418671;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.contribuitorsWrapper {
    display: flex;
    width: 80vw;
    height: 28vh;
    flex-wrap: wrap;
    margin-top: 2%;
}

.redirectCardsWrapper {
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.webCards {
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.mobileCards {
    display: none;
}

@media (max-width:1025px) {
    .firstStepAboutUS {
        margin-top: 6%;
    }
    .mobileCards {
        display: none;
    }

    .redirectCardsWrapper {
        margin-top: -6%;
    }

}

@media (max-width:801px) {
    .firstStepGraphWrapper {
        margin-top: 6%;
    }

    .redirectCardsWrapper {
        margin-top: -80px;
    }

    .mobileCards {
        display: none;
    }

}

@media (max-width:600px) {
    .firstStepAboutUS {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 2%;
    }

    .firstStepGraphWrapper {
        margin-top: 80px;
        width: 280px;
        height: 400px;
    }

    .firstStepContentWrapper {
        width: 100%;
    }

    .contribuitorsWrapper {
        margin-bottom: 20%;
    }

    .mobileCards {
        display: flex;
        width: 100vw;
        height: 20vh;
        align-items: center;
        justify-content: space-around;
    }

    .webCards {
        display: none;
        
    }

}

@media (min-width:480px) {
    .redirectCardsWrapper {
        margin-top: 60px;
    }
}
@media (max-width:480px) {
    .firstStepContentWrapper h2{
        text-align: center;
        font-size: 24px;
    }

    .secondStepContentWrapper h2 {
        font-size: 24px;
        text-align: center;
        margin-top: 24px;
    }
}